/* custom styles */

/*input {*/
/*text-align: center;*/
/*border: 5px solid;*/
/*padding: 13px 12px;*/
/*font-size: 16px;*/
/*outline: none;*/
/*margin-bottom: 20px;*/
/*}*/

/*ul {*/
/*margin-left: 20px;*/
/*text-align: left;*/
/*}*/

a.more:link, a.more:visited {
    background-color: coral;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 8px;
}

a.more:hover, a.more:active {
    background-color: orangered;
}

a.movielistitem:link, a.movielistitem:visited {
    border-radius: 5px;
    background-color: white;
    color: #0a6ebd;
    padding: 10px;
    padding-left: 15px;
    border-color: grey;
    border: medium;
}

a.movielistitem:hover {
    background-color: #0a6ebd;
    color: white;
    border-color: #0a6ebd;
    border: solid;
}