/* custom styles */

/*input {*/
/*text-align: center;*/
/*border: 5px solid;*/
/*padding: 13px 12px;*/
/*font-size: 16px;*/
/*outline: none;*/
/*margin-bottom: 20px;*/
/*}*/

/*ul {*/
/*margin-left: 20px;*/
/*text-align: left;*/
/*}*/

input.search[type=text] {
    vertical-align: middle;
    width: 100px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    /*background-image: url('../images/search-icon.png');*/
    background-position: 10px 10px;
    background-repeat: no-repeat;
    margin-top: 10px;
    padding: 5px 10px 5px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input.search[type=text]:focus {
    width: 180%;
}


a.more:link, a.more:visited {
    background-color: coral;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 8px;
}

a.more:hover, a.more:active {
    background-color: orangered;
}

a.movielistitem:link, a.movielistitem:visited {
    border-radius: 5px;
    background-color: white;
    color: #0a6ebd;
    padding: 10px;
    padding-left: 15px;
    border-color: grey;
    border: medium;
}

a.movielistitem:hover {
    background-color: #0a6ebd;
    color: white;
    border-color: #0a6ebd;
    border: solid;
}

div.userbanner {
    padding: 15px;
    height: 200px;
    vertical-align: middle;
    align-items: flex-start;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    background: linear-gradient(45deg, lightseagreen, powderblue);
}

div.homebanner {
    padding: 15px;
    padding-left: 30px;
    height: 200px;
    vertical-align: middle;
    align-items: flex-start;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    background: linear-gradient(-45deg, yellow, orangered);
}

div.moviebanner {
    padding: 15px;
    padding-left: 30px;
    height: 200px;
    vertical-align: middle;
    align-items: flex-start;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
    background: linear-gradient(-45deg, darkslategrey, lightseagreen);
}

img.logo {
    height: auto;
    width: auto;
    max-width: 250px;
    display: block;
    margin: 0 auto;
}

img.frontPageLogo {
    height: auto;
    width: auto;
    max-width: 500px;
    display: block;
    margin: auto;
}

img.usericon {
    height: auto;
    width: auto;
    max-width: 20px;
    display: block;
    margin: auto;
}

img.thumbnail {
    height: auto;
    width: auto;
    max-height: 150px;
    display: block;
    margin: 0 auto;
}

img.smallThumbnail {
    height: auto;
    width: auto;
    max-height: 80px;
    display: block;
    margin: 0 auto;
}

img.full {
    height: auto;
    width: auto;
    max-height: 450px;
    display: block;
    margin: 0 auto;
}

div.plot {
    flex-grow: 1;
    color: black;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 5px;
}

/* The heart of the matter */
.testimonial-group > .row {
    overflow-x: auto;
    white-space: nowrap;
}

.testimonial-group > .row > .col-xs-4 {
    display: inline-block;
    float: none;
}

/* Decorations */
.col-xs-4 {
    width: 300px;
    color: #fff;
    font-size: 48px;
    padding-bottom: 20px;
    padding-top: 18px;
}

.col-xs-4:nth-child(3n+1) {
    background: #c69;
}

.col-xs-4:nth-child(3n+2) {
    background: #9c6;
}

.col-xs-4:nth-child(3n+3) {
    background: #69c;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    /*color: white;*/
    text-align: left;
    padding: 14px;
    text-decoration: none;
}

footer.website {
    margin: auto;
    text-align: center;
    padding: 20px;
}

.stylish-input-group .input-group-addon {
    background: white !important;
}

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}