click==6.7
Flask==0.12.2
Flask-Login==0.4.0
Flask-SQLAlchemy==2.3.2
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
-e git+https://github.com/ospahiu/nominate.git@d06d7d48477ec8fb3355b128687d555b3510f01b#egg=nominate
nose==1.3.7
numpy==1.13.3
pbr==3.1.1
six==1.11.0
SQLAlchemy==1.1.15
SQLAlchemy-Utils==0.32.21
stevedore==1.27.1
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.8.2
Werkzeug==0.12.2
