<!DOCTYPE html>
<html lang="en">

<head>
  <title>Nominate</title>
  <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
  <link href="../static/css/signup.css" rel="stylesheet">
  <link href="../static/css/style.css" rel="stylesheet">
  <link rel="shortcut icon" href="../static/images/favicon.ico">
  <script type=text/javascript
          src="{{ url_for('static', filename='../static/bower_components/jquery/dist/jquery.js') }}"></script>
</head>
<body>
<script>
    $(function () {
        $('#btnGenerateRecommendations').click(function () {

            $.ajax({
                url: '/generateRecommendations',
                data: $('form').serialize(),
                type: 'POST',
                success: function (response) {
                    console.log(response);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    });
</script>

<div class="container">
  <img src="../static/images/logo.png" class="logo"/>
  <div class="header">
    <nav>
      <ul style="position:relative;" class="nav nav-pills pull-right">
        <li role="presentation" class="active"><a class="more" role="tab" href="/">Home</a></li>
        <li role="presentation" class="active"><a class="more" role="tab" href="/about">About</a></li>
        <li role="presentation"><a class="more" role="tab" href="/movies">Movies</a></li>
        <li role="presentation" class="active"><a class="more" href="/logout">Logout</a></li>
        <li style="position:absolute;right: 0;" role="presentation">
          <div style="margin-top: 12px; float: right;">
            <img style="display: inline-block;" src="../static/images/user-icon.png" class="usericon"/>
            <span style="margin-left: 10px; margin-top: 2px; float: right;">{{ current_user.username }}</span>
          </div>
        </li>
      </ul>
    </nav>

  </div>
  {% if current_user.is_authenticated %}
    <div class="userbanner">
      <h1 style="text-shadow: 3px 3px #33691E;">Welcome to your Dashboard {{ current_user.username }}</h1>
    </div>
    <div class="container">

      {% if current_user.username == 'admin' %}
        <div class="page-header">
          <h1>Admin Controls</h1>
          <hr/>

          <form>
            <button style="width: 300px" id="btnGenerateRecommendations"
                    class="btn btn-lg btn-primary btn-block" type="button">
              Run Recommendations
            </button>
          </form>
          <hr/>
        </div>
      {% endif %}



      <div class="page-header">
        <h1>Your Movies ({{ len(current_user.rated_movies) }})</h1>
      </div>

      <div class="list-group">
        {% for movie, rating in current_user.rated_movies.items() %}
          <a href="{{ "/movie/%d" % movie.movieid }}" class="list-group-item">
            <div style="margin: auto; ">
              <div style="float: left;">
                <img src="{{ "../static/images/movies/%d.jpg" % movie.movieid }}"
                     class="smallThumbnail"/>
              </div>
              <div style="margin-left: 7%;">
                <h4 class="list-group-item-heading">{{ movie.title }}
                  <span>({{ movie.year }})</span>
                  {% if not movie.average_rating %}
                    <span class="badge badge-pill badge-info">
                                        N/A
                                    </span>

                  {% elif movie.average_rating < 3.0 %}
                    <span class="badge badge-pill badge-warning">
                                        {{ movie.average_rating }}
                                    </span>
                  {% else %}
                    <span class="badge badge-pill badge-success">
                                        {{ movie.average_rating }}
                                    </span>
                  {% endif %}
                </h4>
                <p class="list-group-item-text">Your Rating: {{ rating }}/5</p>
              </div>

            </div>
          </a>
        {% endfor %}
      </div>

    </div>
  {% endif %}


  <footer class="website">
    <p>&copy; Olsi Spahiu, 2017</p>
  </footer>

</div>
</body>

</html>