<!DOCTYPE html>
<html lang="en">

<head>
    <title>Unauthorized Access:: Nominate</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="../static/images/favicon.ico">
</head>

<body>

<div class="container" style="margin-top: 40px">
    <img src="../static/images/logo.png" class="logo"/>
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a class="more" role="tab" href="/">Home</a></li>
                <li role="presentation" class="active"><a class="more" role="tab" href="/about">About</a></li>
                <li role="presentation" class="active"><a class="more" role="tab" href="/movies">Movies</a></li>
                <li role="presentation"><a class="more" href="/showSignIn">Sign In</a>
                </li>
                <li role="presentation"><a class="more" href="/showSignUp">Sign Up</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="jumbotron">
        <h1>{{ error }}</h1>
    </div>
    <footer class="website">
        <p>&copy; Olsi Spahiu, 2017</p>
    </footer>
</div>
</body>

</html>